---
layout: default
---


<!-- works
================================================== -->

<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolio</h3>
            <h1>My Latest Projects.</h1>

            <p class="lead">“You might see me with my hoody up, I ain't leaving 'til I finish.” <br>
                                -NF</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <img src="images\portfolio\gallery\cap-front.jpg" alt="dentiti baseball cap" class="lazyload">
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            D3ntiti
                        </h3>
                        <p class="item-folio__cat">
                            Brand Identity, Apparel and Marketing Design
                        </p>
                    </div>

                    <a href="#0" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>


                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

          

        </div>
    </div> <!-- end masonry -->

</section> <!-- end works -->
